#VS_CODE-- -- -- -
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace
/.vscode
.clang-tidy
.clangd
.zed
run_clang_tidy.sh
pyrightconfig.json
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# CPP -------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMAKE -------
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.DS_Store

# Cache files
*.cache
*traces.0
*requests
*output.0

# GENERAL -------
/build
/devel_build
/submodules/ViennaRNA/build/**
