[submodule "submodules/seqan3"]
	path = submodules/seqan3
	url = https://github.com/RNABioInfo/seqan3.git
[submodule "submodules/htslib"]
	path = submodules/htslib
	url = https://github.com/samtools/htslib.git
